Symbol table level 0
 94265890247328        real  BASIC  basicdt   1          siz     8
 94265890247424     integer  BASIC  basicdt   0          siz     4
 94265890247520        char  BASIC  basicdt   2          siz     1
 94265890247616     boolean  BASIC  basicdt   3          siz     4
 94265890247712         exp  knd 5 0  typ 94265890247808  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890248000       trexp  knd 5 0  typ 94265890248096  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890248288         sin  knd 5 0  typ 94265890248384  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890248576         cos  knd 5 0  typ 94265890248672  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890248864       trsin  knd 5 0  typ 94265890248960  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890249152        sqrt  knd 5 0  typ 94265890249248  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890249440       round  knd 5 0  typ 94265890249536  lvl  0  siz     0  off     0
(FUNCTION real
          real)
 94265890249728      iround  knd 5 0  typ 94265890249824  lvl  0  siz     0  off     0
(FUNCTION integer
          real)
 94265890250016         ord  knd 5 0  typ 94265890250112  lvl  0  siz     0  off     0
(FUNCTION integer
          integer)
 94265890250304         new  knd 5 0  typ 94265890250400  lvl  0  siz     0  off     0
(FUNCTION integer
          integer)
 94265890250592       trnew  knd 5 0  typ 94265890250688  lvl  0  siz     0  off     0
(FUNCTION integer
          integer)
 94265890250880       write  knd 5 0  typ 94265890250976  lvl  0  siz     0  off     0
(FUNCTION NULL
          char)
 94265890251168     writeln  knd 5 0  typ 94265890251264  lvl  0  siz     0  off     0
(FUNCTION NULL
          char)
 94265890251456      writef  knd 5 0  typ 94265890251552  lvl  0  siz     0  off     0
(FUNCTION NULL
          real)
 94265890251744    writelnf  knd 5 0  typ 94265890251840  lvl  0  siz     0  off     0
(FUNCTION NULL
          real)
 94265890252032      writei  knd 5 0  typ 94265890252128  lvl  0  siz     0  off     0
(FUNCTION NULL
          integer)
 94265890252320    writelni  knd 5 0  typ 94265890252416  lvl  0  siz     0  off     0
(FUNCTION NULL
          integer)
 94265890252608        read  knd 5 0  typ 94265890252704  lvl  0  siz     0  off     0
(FUNCTION NULL
          NULL)
 94265890252896      readln  knd 5 0  typ 94265890252992  lvl  0  siz     0  off     0
(FUNCTION NULL
          NULL)
 94265890253184         eof  knd 5 0  typ 94265890253280  lvl  0  siz     0  off     0
(FUNCTION boolean
          NULL)
Symbol table level 1
 94265890279504     complex  TYPE   typ 94265890279216  lvl  1  siz    16  off     0
(RECORD (re real)
        (im real))
 94265890280368         red  CONST  typ INTEGER  val  0
 94265890280528       white  CONST  typ INTEGER  val  1
 94265890280688        blue  CONST  typ INTEGER  val  2
 94265890280880       color  TYPE   typ 94265890280784  lvl  1  siz     4  off     0
  0 ..   2
 94265890281392      person  TYPE   typ 94265890283120  lvl  1  siz    48  off     0
(RECORD (age integer)
        (friend (^ person))
        (location (RECORD (re real)
                          (im real)))
        (favorite   0 ..   2)
        (salary real))
 94265890281488          pp  TYPE   typ 94265890281296  lvl  1  siz     8  off     0
(^ person)
 94265890284080        john  VAR    4 typ 94265890281296  lvl  1  siz     8  off     0
(^ person)
 94265890284432         sum  VAR    0 typ integer  lvl  1  siz     4  off     8
yyparse result =        0
(program graph1 (progn output)
                (progn (:= sum (aref (^ john)
                                     0))))
# ---------------- Beginning of Generated Code --------------------
        .file   "foo"
        .text
        .globl graph1
        .type   graph1, @function
graph1:
.LFB0:
	.cfi_startproc
	pushq	%rbp              # save base pointer on stack
	.cfi_def_cfa_offset 16
	movq	%rsp, %rbp        # move stack pointer to base pointer
	.cfi_offset 6, -16
	.cfi_def_cfa_register 6
        subq	$32, %rsp 	  # make space for this stack frame
	movq	%rbx, %r9        # save %rbx (callee-saved) in %r9
# ------------------------- begin Your code -----------------------------
	movl	$0,%eax         	#  0 -> %eax
	cltq	                  	#  sign-extend
	movl	%r8,-24(%rbp)     	#  %r8 -> sum
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata

        .ident  "CS 375 Compiler - Spring 2022"
